

.icon{
    //icon size styles
    &-big{
        height: 44px;
        width: 44px; 
    }
    &-medium{
        height: 26px; 
        width: 26px; 
    }

    &-small{
        height: 17px;
        width: 17px; 
    }

}


