//colour variables

//text colours
$black: #342F2D;
$light-grey: #B0B0B0;

//general theme colours
$main-orange: #FDA768; 
$yellow: #FDD588;
$dark-orange: #EF761F; 
$cream: #FFF5E7;

//secondary colours
$pink: #FFE3CE;
$light-yellow: #FEF3BD;


//font sizes 

$font-header: 4.38rem; //70px
$font-body: 1.88rem; //30px
$font-links: 1rem; //20px


