@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap");
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
}

button {
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.heading {
  font-size: 10vw;
  margin: 7.5% 0 0 0;
  text-align: center;
}

@media only screen and (max-width: 375px) {
  .heading {
    font-size: 60px;
  }
}

.body-item {
  padding: 2rem;
  margin-top: 80px;
}

@media only screen and (min-width: 1200px) {
  .body-item {
    margin-top: 0;
  }
}

.body-rectangle {
  background-color: #FFF5E7;
  height: 1000px;
  width: 100%;
  z-index: -10;
  border-radius: 3vw;
}

@media only screen and (max-width: 375px) {
  .body-item {
    padding: 1rem;
  }
}

@font-face {
  font-family: DIN;
  src: url("/resources/fonts/DIN-Next-LT-Arabic-Bold.ttf");
}

.icon-big {
  height: 44px;
  width: 44px;
}

.icon-medium {
  height: 26px;
  width: 26px;
}

.icon-small {
  height: 17px;
  width: 17px;
}

.header.open .overlay {
  display: block;
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.header.open .header-menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header-menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header-menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header-mobile-menu-container {
  display: block;
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

.header.close .overlay {
  display: block;
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.header.close .header-menu > span:first-child {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header.close .header-menu > span:nth-child(2) {
  opacity: 1;
}

.header.close .header-menu > span:last-child {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.header.close .header-mobile-menu-container {
  display: none;
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.header .overlay {
  display: none;
  position: fixed;
  top: 5.65rem;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FDA768), to(transparent));
  background-image: linear-gradient(#FDA768, transparent);
  z-index: 10;
}

.header nav {
  padding: 30px 40px 20px 40px;
  background-color: white;
  height: 90px;
}

.header-logo {
  font-size: 2.5rem;
  font-weight: 800;
  color: #342F2D;
  text-decoration: none;
  border: none;
}

.header-menu {
  position: fixed;
  right: 50px;
  top: 30px;
}

.header-menu > span {
  display: block;
  width: 33px;
  height: 6px;
  background-color: #342F2D;
  border-radius: 25px;
  -webkit-transform-origin: 3px 3px;
          transform-origin: 3px 3px;
}

.header-menu > span:not(:last-child) {
  margin-bottom: 3px;
}

.header-mobile-menu {
  width: calc(100% - 3rem);
  background: white;
  margin: 1.5rem;
  padding: 1.625rem;
  border-radius: 10px;
}

.header-mobile-menu a {
  display: block;
  text-align: center;
  color: #FDA768;
  padding: 1.5rem;
}

.header-mobile-menu-container {
  position: fixed;
  place-items: center;
  width: 100%;
  height: 22.5rem;
  display: none;
  top: 7rem;
  z-index: 20;
}

.header-links {
  margin-left: 5rem;
}

.header-links a {
  position: relative;
  font-family: montserrat;
  text-decoration: none;
  color: #B0B0B0;
  font-size: 1rem;
}

.header-links a:not(:last-child) {
  margin-right: 88px;
}

.header-links a::before {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -5px;
  border-radius: 20px;
  background: #FDA768;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header-links a:hover {
  color: #342F2D;
}

.header-links a:hover::before {
  opacity: 1;
}

.header-search-bar {
  height: 3.13rem;
  width: 23.13rem;
  border: solid 3px #B0B0B0;
  border-radius: 25px;
  padding: 0.19rem;
}

.header-search-bar-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: #B0B0B0;
  line-height: 35px;
  margin-left: 20px;
  font-family: DIN;
  font-size: 1.06rem;
}

.header-search-bar-button {
  background-color: #FDA768;
  height: 2.38rem;
  width: 2.38rem;
  border-radius: 50%;
  float: right;
}

.header-search-bar-button:hover {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 0.8;
}

@media only screen and (max-width: 1199px) {
  .header-logo {
    position: fixed;
    top: 20px;
    left: 50px;
  }
  .header nav {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
  }
}

@media (max-width: 74.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 75em) {
  .hide-for-desktop {
    display: none;
  }
}

.has-fade {
  visibility: hidden;
}

.cart {
  background-color: #FDA768;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
}

.cart img {
  height: 1.56rem;
  width: 1.56rem;
}

.cart-body {
  height: 80px;
  width: 80px;
}

.cart-body img {
  height: 2rem;
  width: 2rem;
}

.cart:hover {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 0.8;
}

.fixed-container {
  position: fixed;
  right: 6vw;
  bottom: 7.5vh;
  z-index: 2;
  height: 80px;
  width: 80px;
}

.cart-nav button {
  position: absolute;
  top: 30px;
  left: 1.5rem;
  font-size: 30px;
  background: none;
}

.cart-nav p {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: montserrat;
  font-weight: 700;
  font-size: 30px;
  color: #FDA768;
}

.cart-number {
  background-color: #ff7f16;
  height: 25px;
  width: 25px;
  border-radius: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 55px;
  left: 45px;
}

.cart-number span {
  color: white;
  font-size: 12px;
}

.cart-container {
  height: 60px;
  width: 60px;
}

.menu-redirect {
  font-size: 20px;
  color: #FDA768;
  -webkit-text-decoration: underline 2.5px;
          text-decoration: underline 2.5px;
}

@media only screen and (min-width: 0px) {
  .products-container {
    margin: 7rem 2rem 8rem 2rem;
    text-align: center;
  }
  .products-container h2 {
    font-size: 30px;
    color: #342F2D;
  }
  .products {
    width: 100%;
    height: auto;
    padding: 4vw 0vw;
    border-top: solid 2.5px #E3E3E3;
    font-size: 3vw;
  }
  .products .container-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products .container-one .product-information {
    width: 62.5%;
  }
  .products .container-one .product-information .container-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products .container-one .product-information .container-two .dollar-sign {
    font-size: 2vw;
    position: relative;
    bottom: 1vw;
  }
  .products .container-one .product-information .price {
    text-align: left;
    padding: 1vw 4vw;
    color: #B0B0B0;
  }
  .products .container-one .product-information .product-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 5vw;
    padding: 5vw;
  }
  .products .container-one .product-information .product-quantity button {
    height: 8.8vw;
    width: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products .container-one .product-information .product-quantity .quantity-button-minus {
    border-radius: 2vw 0 0 2vw;
    background-color: #E3E3E3;
  }
  .products .container-one .product-information .product-quantity .quantity-button-minus .minus-icon {
    width: 2vw;
    height: 2vw;
    position: relative;
  }
  .products .container-one .product-information .product-quantity .quantity-button-add {
    border-radius: 0 2vw 2vw 0;
    background-color: #E3E3E3;
  }
  .products .container-one .product-information .product-quantity .quantity-button-add .add-icon {
    width: 2vw;
    height: 2vw;
    position: relative;
    right: 0.5vw;
  }
  .products .container-one .product-information .product-quantity .cart-item-quantity {
    padding: 1.5vw 3vw;
    border: solid 1vw #E3E3E3;
  }
  .cart-product-image {
    padding: 20px;
    height: 27vw;
    width: 27vw;
  }
  .or-text {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #B0B0B0;
    bottom: 22vw;
    font-size: 5vw;
    right: 48vw;
  }
  .or-text .line-1 {
    width: 35%;
    border-top: solid 0.7vw #B0B0B0;
  }
  .or-text .line-2 {
    width: 35%;
    border-top: solid 0.7vw #B0B0B0;
  }
  .checkout-buttons {
    position: fixed;
    bottom: 5vh;
    width: 100vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .check-out-button {
    padding: 5vw 10vw 5vw 10vw;
    text-align: center;
    border-radius: 4vw;
    font-size: 5vw;
    font-family: montserrat;
    color: white;
    width: 90%;
  }
  .check-out-button:hover {
    -webkit-animation: opacity 3s ease-in-out;
            animation: opacity 3s ease-in-out;
    opacity: 0.8;
  }
  .cash-button {
    background-color: #FDA768;
  }
  .card-button {
    background-color: #B0B0B0;
    color: #535353;
  }
  .total-info {
    border-top: solid 2.5px #B0B0B0;
    padding-bottom: 20vw;
  }
  .total-info .total-items {
    text-align: left;
    font-size: 3vw;
    padding: 5px;
    color: #B0B0B0;
  }
  .total-info .shipping-info {
    text-align: right;
    font-size: 5vw;
  }
  .total-info .shipping-info .text-info {
    color: #B0B0B0;
    font-size: 4.5vw;
  }
  .total-info .shipping-info .text-info span {
    color: black;
    font-size: 5vw;
    padding-left: 5vw;
  }
  .total-info .basket-total {
    text-align: right;
    font-size: 5vw;
  }
  .total-info .basket-total .text-info {
    color: #B0B0B0;
    font-size: 4.5vw;
  }
  .total-info .basket-total .text-info span {
    color: black;
    font-size: 5vw;
    padding-left: 5vw;
    padding-top: 1vw;
  }
}

@media only screen and (min-width: 500px) {
  .total-info {
    padding-bottom: 200px;
  }
}

@media only screen and (min-width: 750px) {
  .total-info {
    padding-bottom: 70px;
  }
  .checkout-buttons {
    position: relative;
  }
}

.product-color {
  height: 30vw;
  width: 30vw;
  z-index: -1;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pineapple-cake {
  background-color: #FEF3BD;
}

.egg-yolk-pastry {
  background-color: #FFE3CE;
}

.body-elements-circle {
  position: absolute;
  border-radius: 50%;
  width: 37.5vw;
  height: 37.5vw;
  background-color: #FDA768;
  top: 200px;
  right: 10vw;
}

.body-elements-image {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 250px;
  right: 20vw;
}

.body-elements-text {
  position: absolute;
  top: 30vw;
  left: 12vw;
}

.body-elements-text h1 {
  font-size: 7vw;
  color: #FDA768;
}

.body-elements-text h3 {
  font-size: 5vw;
  color: #FDA768;
}

.menu-button {
  position: absolute;
  top: 12rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FDD588;
  padding: 15px 25px 15px 25px;
  color: #EF761F;
  border-radius: 10px;
  z-index: 1;
}

h1 {
  font-size: 8vw;
  margin-top: 5rem;
  color: #FDA768;
}

.contact-container {
  position: absolute;
  top: 25rem;
  width: 100%;
  padding: 1rem;
  z-index: 2;
}

.contact-container .contact-buttons {
  width: auto;
  z-index: 3;
}

.contact-container .contact-buttons button {
  margin: 1rem 1rem;
  border-radius: 10px;
  height: 7.5rem;
  width: 17rem;
  font-family: montserrat;
  z-index: 4;
}

.contact-container .contact-buttons p {
  font-size: 20px;
}

.active {
  background: #FDA768;
}

.active svg {
  stroke: white;
}

.active p {
  color: white;
}

.inactive {
  background: none;
}

.inactive svg {
  stroke: #FDA768;
}

.inactive p {
  color: #FDA768;
}

.product-title {
  font-weight: 800;
  z-index: 6;
}

.text-container {
  z-index: 5;
}

.background {
  z-index: 4;
}

.product-container {
  z-index: 3;
}

.product {
  z-index: 2;
}

.body-rectangle {
  z-index: 1;
}

.body-item {
  z-index: 0;
}

@media only screen and (max-width: 4000px) {
  .menu-text {
    text-align: center;
    color: #FDA768;
  }
  .menu-text h2 {
    padding: 0 10px 0 10px;
    font-size: 2vw;
    margin: 1vw;
  }
  .menu-text .call-text {
    margin-bottom: 20px;
  }
  .call-button {
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: #FDA768;
    color: white;
    font-size: 17.5px;
    font-family: montserrat;
    margin-bottom: 50px;
  }
  .product {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .product-container {
    height: 77%;
    width: 80%;
  }
  .product-container .text-container {
    background-color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: 30%;
    border-radius: 0 0 25px 25px;
  }
  .product-container .text-container .product-title {
    font-size: 30px;
    color: #342F2D;
    margin-bottom: 5px;
  }
  .product-container .text-container .product-description {
    font-size: 15px;
    color: #7E7876;
  }
  .product .background {
    height: 100%;
    width: 100%;
    z-index: -10;
    border-radius: 25px;
  }
  .product .yellow-back {
    background-color: #FEF3BD;
  }
  .product .pink-back {
    background-color: #FFE3CE;
  }
  .product img {
    width: 20vw;
    z-index: 3;
    margin-left: 2.5vw;
  }
}

@media only screen and (max-width: 1200px) {
  .product-container {
    width: 90%;
    height: 80%;
  }
  .product-container .text-container {
    background-color: s;
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: 20%;
    border-radius: 0 0 25px 25px;
  }
  .product-container img {
    width: 23vw;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 780px) {
  .menu-text h2 {
    font-size: 2.75vw;
  }
  .product {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 750px) {
  .menu-text h2 {
    font-size: 3vw;
  }
  .menu-text .call-text {
    margin-bottom: 20px;
  }
  .product .product-title {
    font-size: 5px;
  }
  .product img {
    width: 40vw;
  }
  .product .product-container {
    width: 90%;
    height: 87%;
  }
  .product .product-container .text-container {
    background-color: s;
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: 14%;
    border-radius: 0 0 25px 25px;
  }
  .product .product-container img {
    width: 40vw;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .menu-text h2 {
    font-size: 15px;
    margin: 2vw;
  }
  .menu-text .call-text {
    font-size: 20px;
  }
  .call-button {
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: #FDA768;
    color: white;
    font-size: 17.5px;
    font-family: montserrat;
    margin-bottom: 50px;
  }
  .product {
    row-gap: 40px;
  }
  .product-container {
    width: 90%;
    height: 87%;
  }
  .product-container .text-container {
    background-color: s;
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: 14%;
    border-radius: 0 0 25px 25px;
  }
  .product-container img {
    width: 50vw;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 0px) {
  .shop-item {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    place-items: center;
    padding-top: 20px;
    margin-top: 25vw;
  }
  .shop-item-image {
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-color: #FEF3BD;
    height: 60vw;
    width: 90vw;
    border-radius: 20px;
  }
  .shop-item-image img {
    height: 50vw;
  }
  .shop-item-title {
    font-size: 9vw;
    font-family: Montserrat;
    font-weight: 700;
    color: #413D3D;
    width: 100%;
    padding: 20px 0 0 20px;
  }
  .shop-item-price {
    width: 100%;
    padding: 0 0 0 20px;
    color: #7E7876;
    font-size: 4vw;
  }
  .shop-item-quantity {
    width: 100%;
    padding: 10px 0 0 20px;
  }
  .shop-item-quantity-text {
    color: #413D3D;
    font-size: 4.5vw;
  }
  .shop-item-quantity-input {
    margin-left: 20px;
    height: 8vw;
    width: 45vw;
    border: solid 2px #7E7876;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 4vw;
    font-family: montserrat;
    color: #7E7876;
  }
  .shop-item-buttons {
    display: block;
    height: 12.5vw;
    width: 90vw;
    border-radius: 100px;
    margin: 10px 0px 10px 0px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 5vw;
  }
  .shop-item-button {
    margin: 15px 0 15px 0;
  }
  .shop-item-description {
    padding: 0 25px 0px 25px;
    color: #7E7876;
    font-size: 5vw;
  }
  .shop-item-button
.btn-primary {
    background-color: white;
    border: solid 2px #FDA768;
    color: #FDA768;
  }
  .shop-item-button
.btn-secondary {
    background-color: #FDA768;
    color: white;
  }
  .hidden-text {
    font-size: 2.5vw;
    width: 100%;
    position: relative;
    left: 40vw;
    color: #ff6f4b;
  }
}

@media only screen and (min-width: 700px) {
  .shop-item {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 8vw 8vw 8vw 8vw 8vw 30vw;
        grid-template-rows: 8vw 8vw 8vw 8vw 8vw 30vw;
    place-items: center;
    padding-top: 20px;
    margin-top: 5vw;
  }
  .shop-item-image {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-color: #FEF3BD;
    height: 40vw;
    width: 40vw;
    border-radius: 20px;
  }
  .shop-item-image img {
    height: 25vw;
  }
  .shop-item-title {
    font-size: 4vw;
    font-family: Montserrat;
    font-weight: 700;
    color: #413D3D;
    width: 100%;
    padding: 20px 0 0 20px;
  }
  .shop-item-price {
    width: 100%;
    padding: 0 0 4vw 2vw;
    color: #7E7876;
    font-size: 3vw;
  }
  .shop-item-quantity {
    width: 100%;
    padding: 0 0 5vw 2vw;
  }
  .shop-item-quantity-text {
    color: #413D3D;
    font-size: 2.5vw;
  }
  .shop-item-quantity-input {
    margin-left: 20px;
    height: 4vw;
    width: 20vw;
    border: solid 3px #7E7876;
    border-radius: 5px;
    padding-left: 2vw;
    font-size: 2.5vw;
  }
  .shop-item-buttons {
    display: block;
    height: 5vw;
    width: 45vw;
    border-radius: 100px;
    margin: 30px 0px 10px 0px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2vw;
  }
  .shop-item-button {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    margin: 15px 0 6vw 0;
    padding-right: 2vw;
  }
  .shop-item-description {
    -ms-grid-row: 6;
        grid-row-start: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    padding: 0 5vw 0px 5vw;
    color: #7E7876;
    font-size: 2vw;
  }
  .shop-item-button
.btn-primary {
    background-color: white;
    border: solid 3.5px #FDA768;
    color: #FDA768;
  }
  .shop-item-button
.btn-secondary {
    background-color: #FDA768;
    color: white;
  }
  .hidden-text {
    font-size: 1vw;
    width: 100%;
    position: relative;
    left: 22.5vw;
    color: #ff6f4b;
  }
}

.page-centerer {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 100vh;
}

.page-centerer .success {
  padding: 20vw 20vw 30vh 20vw;
  text-align: center;
  height: auto;
}

.page-centerer .success h3 {
  width: 100%;
}

.page-centerer .success .return-to-home {
  position: relative;
  top: 20px;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: #FDA768;
}

.billing-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
}

.title-label {
  font-size: 30px;
}

.billing-form {
  padding: 20px 30px 20px 30%;
  margin: 1vw;
  color: #747474;
  height: auto;
  border-right: solid 1px #B0B0B0;
}

.billing-form select {
  padding: 13px;
  font-family: montserrat;
  border: solid 1px #B0B0B0;
  color: #747474;
  border-radius: 5px;
  width: 100%;
}

.billing-form .order-status-bar .return-to-cart-button {
  background: none;
}

.billing-form input {
  border: solid 1px #B0B0B0;
  border-radius: 5px;
  padding: 10px;
  font-family: montserrat;
}

.billing-form input:focus {
  border-color: #ffc1a0;
}

.billing-form div {
  margin: 20px 0px 20px 0px;
}

.billing-form .input-long {
  width: 100%;
}

.billing-form .input-short {
  width: 100%;
}

.billing-form .state-location {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1.5fr;
      grid-template-columns: 1fr 1fr 1.5fr;
  grid-gap: 2%;
}

.billing-form .state-location span:not(:last-child) {
  display: -ms-grid;
  display: grid;
  border: solid 1px #B0B0B0;
  padding: 5px;
  border-radius: 5px;
}

.billing-form .state-location .label-small {
  font-size: 10px;
}

.billing-form .state-location .label-big {
  color: #3a3a3a;
}

.order-information {
  margin: 80px 20px 20px 20px;
}

.order-information-products {
  background-color: #FDA768;
  border-radius: 10px;
  padding: 20px;
  margin: 1vw;
  color: white;
}

.order-information .receive-date {
  display: -ms-grid;
  display: grid;
}

.order-information .receive-date input {
  height: 30px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  color: #FDA768;
}

.order-information .checkout-button-types {
  display: -ms-grid;
  display: grid;
  padding: 20px;
}

.order-information .checkout-button-types button {
  margin: 10px 0px 10px 0px;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-family: montserrat;
}

.order-information .checkout-button-types .checkout-button {
  background-color: #FDA768;
  color: white;
}

.text-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10vw;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-container-2 .text {
  padding: 20px;
}

.text-container-2 .error-message {
  font-size: 13px;
  color: red;
}

.text-container-2 .text-small {
  font-size: 10px;
}

.text-container-2 .dropdown-menu {
  padding: 10px 0px 10px 0px;
}

.text-container-2 .dropdown-menu select {
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  background-color: white;
  border: solid 1.5px #B0B0B0;
  font-family: montserrat;
  margin: 5px 0px 10px 0px;
}

.text-container-2 .checkout-button {
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #FDA768;
  color: white;
  font-family: montserrat;
  margin: 20px;
}

@media only screen and (max-width: 1150px) {
  .billing-form {
    padding: 20px 30px 20px 20%;
  }
}

@media only screen and (max-width: 900px) {
  .billing-form {
    padding: 20px 30px 20px 20px;
  }
}

@media only screen and (max-width: 655px) {
  .billing-form .state-location {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .billing-form .input-short {
    width: 100%;
    padding: 0;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .billing-page {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
  .order-information {
    margin: 20px;
  }
}
/*# sourceMappingURL=main.css.map */